marquee h1{
    width: 100px;
}

.login{
    background-color: silver;
    color: blueviolet;
    width: 300px;
    position: absolute;
    left: 30px;
    height: 350px;
    bottom: 20px;
}

.login{
    text-align: center;
}

.gin label{
    color: black;
    position: absolute;
    left: 50px;
}

.gin input{
    position: absolute;
    left: 70px;
    width: 200px;
    height: 30px;
    left: 30px;
}

button{
    background-color: steelblue;
    position: absolute;
    left: 100px;
    width: 100px;
    height: 30px;
    border: 2px steelblue;
    bottom: 20px;
}


.register{
    width: 300px;
    height: 350px;
    position: absolute;
    background-color: burlywood;
    right: 30px;
    bottom: 20px;
}

.register h4{
    color: black;
    text-align: center;
}

.general{
    background-color: khaki;
    box-shadow: 0px 8px 16px burlywood;
    height: 400px;
    width: 700px;
    position: absolute;
    left: 350px;
}